body {
    margin: 0%;
    padding: 0%;
    align-content: center;
}

canvas {
    margin: 0%;
    padding: 0%;

    image-rendering: pixelated;
    width: 512 * 1;
    height: 288 * 1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
